<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>预约挂号</title>
  <!-- 图标 -->
  <script src="https://kit.fontawesome.com/14e0b8159c.js" crossorigin="anonymous"></script> 
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <!-- 导入 vue 库文件 -->
 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

 <!-- 从 CDN 导入 axios  -->
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
  function out(){
    alert("helloworld");
  }
 </script>
  <style>
    .date{
      background-color: rgb(234, 242, 254);
      color: rgb(89, 144, 234);
    }
   
    .date:hover{
      background-color: rgb(89, 144, 234);
      color: #fff;
    }
    .date:visited{
      background-color: rgb(234, 242, 254);
      color: rgb(89, 144, 234);
    } 
    .date1 {
      color: #fff;
    }
    .upper{
      width: 120px;
      
      text-align: center;
      font-size: 14px;
      
    }
    /* .upper1{
      margin-left: 35px;
    } */
    .date2{
        margin-left: 415px;
    }
    .appoint{
        margin-right: 150px;
    }
    .btnr{
      width: 100px;
    }
    .modal-sm{
      width: 200px;
      height: 500px;
    }
    .ii{
      font-size: xx-large;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">东方医院🏥
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link" href="./HomePage.html">首页 <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item mx-3" >
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">医院概况</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="./HospitalInfo.html">医院简介</a>
              <a class="dropdown-item" href="./HospitalCultrue.html">医院文化</a>
              <a class="dropdown-item" href="./HospitalHistroy.html">医院历史</a>
            </div>
          </div>
      </li>

        <li class="nav-item mx-3">
            <a class="nav-link" href="./Department.html">科室导航</a>
        </li>
  
        <li class="nav-item mx-3" >
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">医疗服务</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">就诊须知</a>
              <a class="dropdown-item" href="#">住院须知</a>
              <a class="dropdown-item" href="#">门诊排班</a>
            </div>
          </div>
        </li>

        <li class="nav-item mx-3" >
            <a class="nav-link" href="#">健康知识</a>
        </li>

        <li class="nav-item mx-3" >
          <a class="nav-link " href="#">信息咨询</a>
        </li>

        <li class="nav-item mx-3" >
          <a class="nav-link " href="#">通知公告</a>
        </li>

        
        


       
      </ul>
    </div>
</nav>

        <!-- 中心内容 -->
        <div id = "app">
        <div class="container-fluid">
            <div class="row pt-3">
                <!-- 左边导航 -->
                <div class="col-lg-2 ">
                    <nav id="navbar-example3" class="navbar navbar-light" v-for = "(item,index) in pList":key="index">
                      <template>
                        <nav class="nav nav-pills flex-columnv" >            
                          <a class="nav-link ml-3 my-1">{{item.title}}</a>                                                    
                              <nav class="nav nav-pills flex-column" v-for = "(items,indexs) in item.sub":key = "indexs">
                                <template>
                                  <button style="border: none; color:black; width: 120px;" class="nav-link  ml-5 my-1" @click = "acpage(items.title)" >{{items.title}}</button>
                              </template>
                            </nav>
                  
                    </nav>
                    </template>
                  </nav>
                </div>
                <!-- 右边 -->
                <div class="col-lg-10 mt-5">
                    <!-- 医院名字 -->
                    <p class="font-weight-light ">东方医院<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p >
                    <div class="row  ml-2">
                            <!-- 右边日历 -->
                            <div class=" mr-5 " v-for="(el,index) in timeDate" v-if = "index < 6":key = "index" @click = "reg(el.department,el.time)">
                              <template>
                                <div class="list-group upper " style="display: flex;">
                                      <div class="list-group-item list-group-item-action" style="width: 100%;flex:1;background-color: rgb(89, 144, 234); color: #eee;" >{{el.time}}</div >
                                        <div href="#" class="list-group-item list-group-item-action">点击</div > 
                                  </div>   
                              </template>                      
                            </div>   
                            
                    </div>
                      <div class="container mt-5" v-for="(el,index) in doctorname" :key="index">
                        <template>
                        <div class="row" >       
                            <div class="card-body">
                            <h5 class="card-title form-control-sm mt-lg-0">{{el.doctor}}<span class="font-weight-light form-control-sm mt-0"></span></h5>
                            <p>
                                <span class="c card-text font-weight-light form-control-sm mt-0">{{el.clinic}}｜¥{{el.fees}}</span>   
                                   
                                <template v-if = "el.count > 0">
                                  <button type="button" class="btn btn-success float-right btnr" data-toggle="modal" data-target="#staticBackdrop" @click = "edit(el.fees,el.doctor,el.did,el.count)">
                                    余号{{el.count}}
                                  </span>    
                              </template>        
                              <template v-else>
                                <button type="button" class="btn btn-danger float-right btnr" data-toggle="modal" data-target="#staticBackdrop" disabled >
                                  已约满
                                </button>    
                            </template>               
                            </p >   
                            </div>
                          </template>
                        </div>  
                            
                    </div>

                    <div class="container">
                      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">预约信息</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!-- <div v-model = "editDoctor">医生：{{editDoctor}}</div> -->
                              <div v-model = "editDid">医生：{{editDoctor}}</div>
                              <div v-model = "editTitle">科室：{{editTitle}}</div>
                              <div v-model = "editTime">看诊时间：{{editTime}}</div>
                              <div v-model = "editFees">挂号费用：¥{{editFees}}<span class="text-danger"></span></div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                              <!-- <button  id = "demo"  type="button" class="btn btn-primary" @click = "update(editDid,editTime) @click="out()">确定</button> -->
                              
                              <button  id = "demo"   class="btn btn-primary" @click = "insert_(); update(editDid,editTime)" data-toggle="modal" data-target="#exampleModal" >确定</button>



<!-- Modal -->
<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa-solid fa-user-check ii"></i>
      </br>
        <h1>预约成功</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" @click="accNum(editDid,editTime)" data-toggle="modal" data-target="#exampleModal1">成功</button>
        <!-- <button type="button" class="btn btn-primary">成功</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade text-center" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa-solid fa-user-check ii"></i>
      </br>
        <h1>你的预约号:{{this.editNum}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>

        <a href="./DoctorAppointment.html">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" @click="updateNum(editId)">确定</button>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">确定</button> -->
        </a>

        
        <!-- <button type="button" class="btn btn-primary">成功</button> -->
      </div>
    </div>
  </div>
</div>




                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <!-- Footer -->
        <div class="jumbotron jumbotron-fluid ">
            <div class="container">
                  <p class="lead text-center">copyright HRYXYLHLJZSN@2022</p >
             </div>
        </div>

        <script>
          let vm = new Vue({
            el: '#app',
            data: {
              id:'',
              title:'',
              parent:'',
              sub:'',
              about:'',



              editId: 30,
              pList: [],
              subList:[],
              name: '',
              idCard: '',
              phone: '',
              count:'',
              num:'',
              editNum:'',

              editTitle:'',
              editTime:'',
              editDoctor:'',
              editFees:'',
              editDid:'',
              editPatient:'',
           
              editName: '',
              editIdCard: '',
              editPhone: '',
              editCount:'',
             timeDate: [],
             doctorname:[],
             
            
            },
            methods: {
              insert_(){
                this.editId = parseInt(Math.random()*100000)
                let params = {
                  id:this.editId,
                  patient:this.editPatient,
                  doctor:this.editDid,
                  time:this.editTime,
                  clinic:this.editTitle,
                  fees:this.editFees
                }
                let url = 'http://localhost:8080/hospital/dept';
                axios.post(url,params).then(res=>{
                }).catch(err=>{console.log(err);})
              },
              accNum(did,time) {
                let url = "http://localhost:8080/hospital/hp/"+did+"/"+time;
                axios.get(url).then(res=>{
                  this.editNum = res.data;
                  console.log(this.editId);
                })
              },
              update(did,time) {
                let url = `http://localhost:8080/hospital/dept/${did}`+`/${time}`;
                let params = {
                  count:this.editCount-1,
                }
                axios.put(url,params).then(res =>{
                }).catch(err=>{
                  console.log(err)
                })
              },
              updateNum(id){
                console.log(id);
                let url = `http://localhost:8080/hospital/dept/${id}`;
                let params = {
                  num:this.editNum,
                }
                axios.put(url,params).then(res=>{
                  console.log(params);
                }).catch(err=>{
                  console.log(err);
                })

              },
              edit(fees,doctor,did,count1) {
                this.editDoctor = doctor;
                this.editFees = fees; 
                this.editDid = did;
                this.editCount = count1;
              },
              acpage(department) { 
                let url = 'http://localhost:8080/hospital/dept/'+ department;
                axios.get(url).then(res =>{
                  this.timeDate = res.data;                  
                }).finally(()=>{

                })
              },
              reg(department,time) {
                let url = 'http://localhost:8080/hospital/dept/'+ department+'/'+time;
                axios.get(url).then(res =>{
                  this.doctorname = res.data;
                  this.editTitle = department;
                  this.editTime = time;
                })
              }
            },
            created() {
              let url = 'http://localhost:8080/hospital/dept';
              this.editPatient= localStorage.value;
              axios.get(url).then(res => {
                this.pList = res.data;
                console.log(this.editPatient)
              }).catch(err => {
                console.error(err);
              })
            },
            
          });
        </script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

 
</body>
</html>
